.container-form{
    width: 60%;
   // border: 1px solid black;
   font-size: small;
}

.row > .col-6:nth-child(2){
   // padding-right: 25px;
    //padding-top: 15px;
    //padding-bottom: 15px;
    padding: 5%;;
    border-left: 1px solid black;
    
}

form{
    background: rgb(70,251,63);
background: linear-gradient(27deg, rgba(70,251,63,1) 0%, rgba(137,70,252,0.8015581232492998) 100%);
    padding: 10%;
}
