<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4 d-flex">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/img/B2B Logo.png" alt="Bootstrap" width="30" height="24">
  </a>
  <div class="container-fluid col">
    <a
      aria-current="page"
      routerLink="login"
      class="navbar-brand font-weight-bold"
      href="login"
    >
      B2B Connect
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ng-container *ngIf="user">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="login"
              href="account/user"
            >
              Mi Perfil
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="login"
              href="rounds/create-rounds"
            >
              Crear Rueda
            </a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="register"
              href="rounds/my-rounds"
            >
              Mis ruedas
            </a>
          </li>
        </ul>
      </ng-container>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ng-container *ngIf="!user; else logOutTemplate">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="login"
              href="login"
            >
              Iniciar sesion
            </a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="register"
              href="register"
            >
              Registrar
            </a>
          </li>
        </ul>
      </ng-container>
      <ng-template #logOutTemplate>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLink="/login"
              href="login"
            >
              Cerrar sesion
            </a>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
</nav>
