<div class="container">
  <div class="container-form">
    <div class="row">
      <div class="col-8">
        <form #login_user="ngForm" (ngSubmit)="onUpdateUser()">
          <div class="mb-3" class="text-center" style="margin-bottom: 25px">
            <h4>Editar perfil</h4>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-floating mb-3">
                <input
                  type="name"
                  class="form-control"
                  id="floatingInput"
                  placeholder="name@example.com"
                  name="name"
                  required
                  [(ngModel)]="user.name"
                />
                <label for="floatingInput">Nombre</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder=""
                  name="lastname"
                  [(ngModel)]="user.lastname"
                />
                <label for="floatingInput">Apellido</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder=""
                  name="history"
                  [(ngModel)]="user.history"
                />
                <label for="floatingInput">Historia</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder=""
                  name="objective"
                  [(ngModel)]="user.objetives"
                />
                <label for="floatingInput">Objetivo</label>
              </div>
            </div>
          </div>

          <div class="d-grid gap-2">
            <button
              class="btn btn-primary"
              type="submit"
              [disabled]="login_user.invalid"
            >
              Actualizar mis datos
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container-form">
    <div class="row">
      <div class="col-8 mt-5">
        <form #login_user="ngForm" (ngSubmit)="onUpdateProjects()">
          <div class="mb-3" class="text-center" style="margin-bottom: 25px">
            <h4>Editar Proyectos</h4>
          </div>

          <div *ngFor="let project of user.projects">
            <div class="mb-3" class="text-center" style="margin-bottom: 25px">
              <h6>Proyecto</h6>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="name@example.com"
                    name="title-{{ project.id }}"
                    [(ngModel)]="project.title"
                  />
                  <label for="floatingInput">Nombre</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder=""
                    name="description-{{ project.id }}"
                    [(ngModel)]="project.description"
                  />
                  <label for="floatingInput">Apellido</label>
                </div>
              </div>
            </div>
          </div>

          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">
              Actualizar mis datos
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container-form">
    <div class="row">
      <div class="col-8 mt-5">
        <form #login_user="ngForm" (ngSubmit)="onUpdateExperienceAreas()">
          <div class="mb-3" class="text-center" style="margin-bottom: 25px">
            <h4>Editar Areas de Experiencia</h4>
          </div>

          <div *ngFor="let area of user.experienceAreas">
            <div class="row">
              <div class="col">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="name@example.com"
                    name="title-{{ area.id }}"
                    [(ngModel)]="area.area"
                  />
                  <label for="floatingInput">Area</label>
                </div>
              </div>
            </div>
          </div>

          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">
              Actualizar mis datos
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
