<div class="container">
  <div class="container-form">
    <div class="row">
      <div class="col-8">
        <form #login_user="ngForm" (ngSubmit)="onUpdateUser()">
          <div class="mb-3" class="text-center" style="margin-bottom: 25px">
            <h4>Editar perfil</h4>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-floating mb-3">
                <input
                  type="name"
                  class="form-control"
                  id="floatingInput"
                  placeholder="name@example.com"
                  name="name"
                  required
                  [(ngModel)]="user.name"
                />
                <label for="floatingInput">Nombre</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder=""
                  name="lastname"
                  [(ngModel)]="user.lastname"
                />
                <label for="floatingInput">Apellido</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder=""
                  name="history"
                  [(ngModel)]="user.history"
                />
                <label for="floatingInput">Historia</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInput"
                  placeholder=""
                  name="objective"
                  [(ngModel)]="user.objetives"
                />
                <label for="floatingInput">Objetivo</label>
              </div>
            </div>
          </div>

          <div class="d-grid gap-2">
            <button
              class="btn btn-primary"
              type="submit"
              [disabled]="login_user.invalid"
            >
              Actualizar mis datos
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Projects -->
  <div class="container-form">
    <div class="row">
      <div class="col-8 mt-5">
        <!-- Add new project -->
        <div>
          <div class="mb-3" class="text-center" style="margin-bottom: 25px">
            <h4>Agregar un nuevo proyecto</h4>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              required
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
              name="title-{{ inputProject.id }}"
              [(ngModel)]="inputProject.title"
            />
            <label for="floatingInput">Titulo</label>
          </div>
          <div class="form-floating mb-3">
            <textarea
              class="form-control h-8"
              required
              id="floatingInput"
              placeholder=""
              name="description-{{ inputProject.id }}"
              rows="4"
              [(ngModel)]="inputProject.description"
            ></textarea>
            <label for="floatingInput">Descripcion</label>
          </div>

          <!-- If not filled the inputs -->
          <div *ngIf="unfilledNewProject === true">
            <p>Por favor, rellene todos los campos</p>
          </div>

          <button type="button" (click)="addProject()">Agregar proyecto</button>
        </div>

        <form #login_user="ngForm" (ngSubmit)="onUpdateProjects()">
          <div class="mb-3" class="text-center" style="margin-bottom: 25px">
            <h4>Editar Proyectos</h4>
          </div>

          <div>
            <!-- Edit old projects -->
            <ul class="m-0 p-0">
              <li *ngFor="let project of user.projects" class="list-unstyled">
                <div
                  class="mb-3"
                  class="text-center"
                  style="margin-bottom: 25px"
                >
                  <h6>{{ project.title }}</h6>
                </div>

                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="name@example.com"
                    name="title-{{ project.id }}"
                    [(ngModel)]="project.title"
                  />
                  <label for="floatingInput">Titulo</label>
                </div>
                <div class="form-floating mb-3">
                  <textarea
                    class="form-control h-8"
                    placeholder=""
                    name="description-{{ project.id }}"
                    rows="4"
                    [(ngModel)]="project.description"
                  ></textarea>
                  <label for="floatingInput">Descripcion</label>
                </div>
                <button (click)="removeProject(project.id || '')">
                  Remove
                </button>
              </li>
            </ul>
          </div>

          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">
              Actualizar mis datos
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Experience Area -->
  <div class="container-form">
    <div class="row">
      <div class="col-8 mt-5">
        <div>
          <input
            [(ngModel)]="inputExperienceArea"
            placeholder="Ingresa un area de experiencia"
            list="experience-areas"
          />
          <div *ngIf="isExperienceAreaDuplicated">
            <p>Ya tienes esta area de experiencia en tu lista</p>
          </div>
          <datalist id="experience-areas">
            <option *ngFor="let area of AREAS" value="{{ area.area }}"></option>
          </datalist>
          <button (click)="addExperienceArea()">
            Agregar area de experiencia
          </button>
        </div>

        <div *ngIf="user.userExperienceAreas">
          <h4>Areas de Experiencia</h4>
          <ul>
            <li *ngFor="let area of user.userExperienceAreas">
              {{ area.area }}
              <button (click)="removeExperienceArea(area.id || '')">
                Remove
              </button>
            </li>
          </ul>
        </div>

        <div class="d-grid gap-2" (click)="onUpdateExperienceAreas()">
          <button class="btn btn-primary">Actualizar misaaa datos</button>
        </div>
      </div>
    </div>
  </div>
</div>
